body {
    color: antiquewhite;
    background-color: black;
}

#header{
    align-items: center;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

li:hover {
    cursor: pointer;
    color: yellow;
}

.transform:hover {
    color: yellow;
}